:root {
    --accordeon-width: 50%;
    --acccordeon-border-radius: 0;
    --accordeon-border-color: #858585;
    --accordeon-entete-color: #212121;
    --accordeon-entete-hover-background-color: #e1edfe;
    --accordeon-entete-hover-color: #0759d5;
    --accordeon-focus-border-color: #0759d5;
    --accordeon-focus-within-background-color: #f7f7f7;
}

.accordion {
    margin: 0;
    padding: 0;
    border: 2px solid var(--accordeon-border-color);
    border-radius: var(--acccordeon-border-radius);
    width: var(--accordeon-width);
}

.accordion h3 {
    margin: 0 !important;;
    padding: 0;
}

.accordion:focus-within {
    border-color: var(--accordeon-focus-border-color);
}

.accordion>*+* {
    border-top: 1px solid var(--accordeon-border-color);
}

.accordion-trigger {
    background: none;
    color: var(--accordeon-entete-color);
    display: block;
    font-size: 1rem;
    font-weight: normal;
    margin: 0;
    padding: 1em 1.5em;
    position: relative;
    text-align: left;
    width: 100%;
    outline: none;
}

.accordion-trigger:focus {
    outline: 4px solid transparent;
}

.accordion>*:first-child .accordion-trigger,
.accordion>*:first-child {
    border-radius: var(--acccordeon-border-radius) var(--acccordeon-border-radius) 0 0;
}

.accordion>*:last-child .accordion-trigger,
.accordion>*:last-child {
    border-radius: 0 0 var(--acccordeon-border-radius) var(--acccordeon-border-radius);
}

button {
    border-style: none;
}

.accordion button::-moz-focus-inner {
    border: 0;
}

.accordion-title {
    display: block;
    pointer-events: none;
    border: transparent 2px solid;
    border-radius: var(--acccordeon-border-radius);
    padding: 0.25em;
    outline: none;
}

.accordion-trigger:focus .accordion-title {
    font-weight: bold;
}

.accordion-icon {
    border: solid currentcolor;
    border-width: 0 2px 2px 0;
    height: 0.5rem;
    pointer-events: none;
    position: absolute;
    right: 2em;
    top: 50%;
    transform: translateY(-60%) rotate(45deg);
    width: 0.5rem;
}

.accordion-trigger:focus,
.accordion-trigger:hover {
    background: var(--accordeon-entete-hover-background-color);
}

.accordion-trigger:focus .accordion-title,
.accordion-trigger:hover .accordion-title {
    color: var(--accordeon-entete-hover-color);
    font-weight: bold;
}

.accordion-trigger:focus .accordion-icon,
.accordion-trigger:hover .accordion-icon {
    border-color: var(--accordeon-entete-hover-color);
}

.accordion-trigger[aria-expanded="true"] .accordion-icon {
    transform: translateY(-50%) rotate(-135deg);
}

.accordion-panel {
    margin: 0;
    padding: 1em 1.5em;
}

/* For Edge bug https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/4806035/ */
.accordion-panel[hidden] {
    display: none;
}