:root {
    --ARIANE-background-color: #e3e3e3;
    --ARIANE-border-color: #d5d5d5;
    --ARIANE-link-color: #575757;
    --ARIANE-link-page-color: #333333;
    --ARIANE-separateur: ">";
}

nav.demo-ariane {
    padding: 0.8em 1em;
    border: 1px solid var(--ARIANE-border-color);
    border-radius: 4px;
    background: var(--ARIANE-background-color);
  }
  
  nav.demo-ariane ol {
    margin: 0;
    padding-left: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
  }
  
  nav.demo-ariane li {
    display: inline;
  }
  
  nav.demo-ariane li a{
    color: var(--ARIANE-link-color);
  }
  nav.demo-ariane li + li::before {
    padding-right: .5rem;
    padding-left: .5rem;
    content: var(--ARIANE-separateur)
  }
  
  nav.demo-ariane [aria-current="page"] {
    color: var(--ARIANE-link-page-color);
    font-weight: 700;
    text-decoration: none;
    pointer-events: none;
  }
  