:root {
    --max-width: 640px;
    --max-height: 640px;
    --items-padding: 5px;
    /** bordure autour des images du carrousel */
    --controls-position: 1em;
    --caption-position: 8%;
    --caption-marge-horizontale: 15%;
    --caption-margin-verticale: 1em;
    --caption-text-padding: .5em;
    --dark-color: #000;
    --dark-transparent-color: rgb(0 0 0 / 65%);
    --light-color: #FFF;
    --hover-color: #C83737;
}

/** pour afficher les boutons de contrôle en bas ;  mettre top au lieu de bottom pour les afficher en haut*/
.carousel-tablist .controls {
    bottom: var(--controls-position);
}

/** pour afficher le texte en haut ; mettre top au lieu de bottom pour positionner à partir du haut*/
.carousel-tablist .carousel-item .carousel-caption {
    bottom: var(--caption-position);
}

img.reload {
    padding: 0.25em;
    display: block-inline;
    position: relative;
    top: 6px;
    height: 0.9em;
}

.carousel-tablist {
    background-color: var(--dark-color);
    max-width: var(--max-width);
}

.carousel-tablist .carousel-inner {
    position: relative;
}

.carousel-tablist .carousel-items {
    padding: var(--items-padding);
}

.carousel-tablist .carousel-items.focus {
    padding: 2px;
    border: solid 3px var(--hover-color);
}

.carousel-tablist .carousel-item {
    display: none;
    max-height: var(--max-height);
    max-width: var(--max-width);
    position: relative;
    overflow: hidden;
    width: 100%;
}

.carousel-tablist .carousel-item.active {
    display: block;
}

/* More like bootstrap, less accessible */

.carousel-tablist .carousel-item .carousel-image a img {
    height: 100%;
    width: 100%;
}

.carousel-tablist .carousel-item .carousel-caption a {
    cursor: pointer;
    text-decoration: underline;
    color: var(--light-color);
    font-weight: 600;
}

.carousel-tablist .carousel-item .carousel-caption a,
.carousel-tablist .carousel-item .carousel-caption span.contrast {
    margin: 0;
    padding: var(--caption-text-padding);
    display: inline-block;
    background-color: var(--dark-transparent-color);
    border-radius: 5px;
    border: 0 solid transparent;
}

.carousel-tablist-moreaccessible .carousel-items .carousel-image a {
    display: block;
    margin: 0;
    padding: 0;
    text-decoration: none;
    border: none;
}

.carousel-tablist .carousel-item .carousel-caption {
    position: absolute;
    right: var(--caption-marge-horizontale);
    left: var(--caption-marge-horizontale);
    padding-top: var(--caption-margin-verticale);
    padding-bottom: var(--caption-margin-verticale);
    color: var(--light-color);
    text-align: center;
}

.carousel-tablist .carousel-item .carousel-caption p {
    font-size: 1em;
    line-height: 1.5;
    margin-bottom: 0;
}

.carousel-tablist-moreaccessible .carousel-item .carousel-caption a {
    display: inline-block;
    margin: 0;
    padding: var(--caption-text-padding);
    color: var(--dark-color);
    background-color: transparent;
    border: none;
    border-radius: 5px;
}

.carousel-tablist-moreaccessible .carousel-item .carousel-caption span.contrast,
.carousel-tablist-moreaccessible .carousel-item .carousel-caption span.contrast:hover {
    background-color: transparent;
}

.carousel-tablist .carousel-item .carousel-caption a:hover,
.carousel-tablist .carousel-item .carousel-caption span.contrast:hover {
    background-color: var(--dark-color);
}

.carousel-tablist .carousel-item .carousel-caption a:focus {
    padding: var(--caption-text-padding);
    border: 2px solid #eee;
    background-color: var(--dark-color);
    outline: none;
    border-width: 2px solid var(--light-color);
    color: var(--light-color);
}


/* Shared CSS for Pause and Tab Controls */

.carousel-tablist .controls {
    box-sizing: border-box;
    position: absolute;
    z-index: 10;
    display: flex;
    width: 100%;
    padding: 0.25em 1.25em 0;
}

.carousel-tablist .tab-wrapper {
    flex: 1 1 auto;
    height: 30px;
    text-align: center;
}

/* SVG Controls */

.carousel-tablist .rotation {
    flex: 0 0 auto;
    height: 30px;
    padding: 0;
    background-color: transparent;
    border: none;
    outline: none;
    z-index: 10;
}

.carousel-tablist .svg-play .background {
    stroke: var(--dark-color);
    fill: var(--dark-color);
    stroke-width: 1px;
    opacity: 0.6;
}

.carousel-tablist .svg-play .border {
    fill: transparent;
    stroke: transparent;
    stroke-width: 2px;
}

.carousel-tablist .svg-play .pause {
    stroke-width: 4;
    fill: transparent;
    stroke: transparent;
}

.carousel-tablist .svg-play .play {
    stroke-width: 1;
    fill: transparent;
    stroke: transparent;
}

.carousel-tablist .pause .svg-play .pause,
.carousel-tablist .play .svg-play .play {
    fill: var(--light-color);
    stroke: var(--light-color);
}

.carousel-tablist .rotation:focus .svg-play .background,
.carousel-tablist .rotation:hover .svg-play .background,
.carousel-tablist .rotation:hover .svg-play .border {
    fill: var(--hover-color);
    stroke: var(--hover-color);
    opacity: 1;
}

.carousel-tablist .rotation:focus .svg-play .border {
    stroke: var(--light-color);
}

/* Shared CSS for Tabs */

.carousel-tablist [role="tablist"] {
    box-sizing: border-box;
    border: 0 transparent solid;
    border-radius: 13px;
    display: inline-block;
    padding-top: 2px;
    height: 30px;
    background-color: var(--dark-transparent-color);
}

.carousel-tablist [role="tablist"].focus {
    border-width: 2px;
    border-color: var(--light-color);
    padding-top: 0;
    background-color: var(--hover-color);
}

.carousel-tablist [role="tab"] {
    position: relative;
    top: -2px;
    padding: 0;
    margin: 0;
    background-color: transparent;
    border: none;
    outline: none;
    width: 34px;
}

.carousel-tablist [role="tab"] circle.border {
    display: none;
    z-index: 12;
}

.carousel-tablist [role="tab"] circle.tab {
    z-index: 16;
}

.carousel-tablist [role="tab"] circle.tab-background {
    stroke: var(--dark-color);
    fill: var(--dark-color);
    stroke-width: 2px;
    opacity: 0.6;
    z-index: 14;
}

.carousel-tablist [role="tab"] circle.tab,
.carousel-tablist [role="tab"] circle.border {
    stroke: var(--light-color);
    fill: transparent;
    stroke-width: 2px;
}

.carousel-tablist-moreaccessible [role="tab"] circle.tab-background {
    z-index: 16;
}

.carousel-tablist-moreaccessible [role="tab"] circle.tab {
    z-index: 18;
}

.carousel-tablist [role="tab"][aria-selected="true"] circle.tab {
    fill: var(--light-color);
}

.carousel-tablist-moreaccessible [role="tab"] circle.border {
    z-index: 14;
}

.carousel-tablist [role="tab"]:focus circle.border {
    display: block;
    fill: var(--hover-color);
    stroke: var(--light-color);
}

.carousel-tablist [role="tablist"].focus circle.tab-background {
    stroke: var(--hover-color);
    fill: var(--hover-color);
}

.carousel-tablist [role="tab"]:hover circle.tab-background {
    fill: var(--light-color);
    stroke: var(--light-color);
    opacity: 1;
}

.carousel-tablist [role="tab"]:hover circle.border,
.carousel-tablist [role="tab"]:hover circle.tab {
    fill: var(--hover-color);
    stroke: var(--hover-color);
    opacity: 1;
}

.carousel-tablist [role="tab"][aria-selected="true"]:hover circle.tab {
    fill: var(--light-color);
}

/* More accessible carousel styles, with caption and controls above/below image */

.carousel-tablist-moreaccessible {
    padding: 0;
    margin: 0;
    position: relative;
    border: #eee solid 4px;
    border-radius: 5px;
}

.carousel-tablist-moreaccessible .carousel-items,
.carousel-tablist-moreaccessible .carousel-items.focus {
    padding: 0;
    border: none;
}

.carousel-tablist-moreaccessible .carousel-items.focus .carousel-image a {
    padding: 2px;
    border: 3px solid var(--hover-color);
}

/* More accessible caption styling */

.carousel-tablist-moreaccessible .carousel-item {
    padding: 0;
    margin: 0;
    max-height: none;
}

.carousel-tablist-moreaccessible .carousel-item .carousel-caption {
    position: static;
    padding: 0;
    margin: 0;
    height: 60px;
    color: var(--dark-color);
}

.carousel-tablist-moreaccessible .carousel-item .carousel-caption p {
    padding: 0;
    margin: 0;
}

.carousel-tablist-moreaccessible .carousel-item .carousel-caption h3 {
    font-size: 1.1em;
    padding: 0;
    margin: 0;
}

.carousel-tablist-moreaccessible .carousel-item .carousel-caption a:hover {
    background-color: rgb(0 0 0 / 20%);
}

.carousel-tablist-moreaccessible .carousel-item .carousel-caption a:focus {
    padding: 4px;
    border: 2px solid var(--hover-color);
    background-color: transparent;
    color: var(--dark-color);
    outline: none;
}

/* Shared CSS for Pause and Tab Controls */

.carousel-tablist-moreaccessible .controls {
    position: relative;
    top: 0;
    left: 0;
    padding: 0.25em 0.25em 0;
}

/* Shared CSS for Tabs */

.carousel-tablist-moreaccessible [role="tab"] {
    z-index: 20;
}