:root {
    --min-width: 640px;
    --max-height: 640px;
    --items-padding: 5px;
    --text-padding: 1em;

    --border-color: #b7b7b8;
    --background-color: #edeff3;
    --background-selected-color: #fbfcfe;
    --border-selected-color: #C83737;
}

.tabs {
    font-family: Arial, Helvetica, sans-serif;
}

[role="tablist"] {
    min-width: var(--min-width);
}

[role="tab"],
[role="tab"]:focus,
[role="tab"]:hover {
    position: relative;
    z-index: 2;
    top: 2px;
    margin: 0;
    margin-top: 5px;
    padding: 5px;
    border: 1px solid var(--border-color);
    border-bottom: 2px solid var(--border-color);
    border-radius: 5px 5px 0 0;
    overflow: visible;
    background: var(--background-color);
    outline: none;
    font-weight: bold;
}

[role="tab"]:focus,
[role="tab"]:hover {
    border-top-color: var(--border-selected-color);
    border-bottom-color: var(--background-selected-color);
    background: var(--background-selected-color);
    box-shadow: inset 0 .25em .15em var(--border-selected-color);
}

[role="tab"][aria-selected="true"] {
    padding: 2px 2px 4px;
    margin-top: 0;
    border-width: 2px;
    border-top-width: 6px;
    border-top-color: var(--border-selected-color);
    border-bottom-color: var(--background-selected-color);
    background: var(--background-selected-color);
}

[role="tab"][aria-selected="false"] {
    border-bottom: 1px solid var(--border-color);
}

[role="tab"] span {
    display: inline-block;
    margin: 2px;
    padding: 4px 6px;
}

[role="tabpanel"] {
    padding: var(--text-padding);
    border: 2px solid var(--border-color);
    border-radius: 0 5px 5px;
    background: var(--background-selected-color);
    min-height: 10em;
    min-width: 550px;
    overflow: auto;
}

[role="tabpanel"].is-hidden {
    display: none;
}

[role="tabpanel"] p {
    margin: 0;
}